--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.4.0

fastapi
uvicorn[standard]
sentence-transformers
qdrant-client
langchain
langchain-community
langchain-google-genai
python-docx
pypdf
python-dotenv
pydantic-settings
python-multipart 
langfuse